extends base
    
block content
    div.popupcard
        div.popcontent
            h3= `Are you sure you want to delete this ${table}?`
            button.btn.btn--small.btn--green#confirm-yes Yes
            button.btn.btn--small.btn--red#confirm-no No
            
    table(class = `${table}`)
        -for(let i = 0; i < columns.length; i++)
            th.col= columns[i]
        tr
        -for(let i= 0; i < docs[0].length; i++){
        tr(data-id=`${ids[i]}`)
            -for(let x=0; x < docs.length; x++){
                if (domID[x] === 'active')
                    td.tcontent(id=`${domID[x]}`)
                        select.select(disabled='true')#active
                            option(value=`${docs[x][i]}`)=docs[x][i]
                            option(value="true") true
                            option(value="false") false
                else if (domID[x] === 'role')
                    td.tcontent(id=`${domID[x]}`)
                        select(disabled='true')#role
                            option(value=`${docs[x][i]}`)=docs[x][i]
                            option(value="user") user
                            option(value="guide") guide
                            option(value="lead-guide") lead-guide
                            option(value="admin") admin
                else
                    td.tcontent(id=`${domID[x]}`)=docs[x][i]
            -}
                td.actions
                    div.edit--table
                        svg.icon.edit__icon
                            use(xlink:href='/img/icons.svg#icon-edit')  
                        svg.icon.delete__icon.delete
                            use(xlink:href='/img/icons.svg#icon-x-circle')    
                    .form__group.btn--table
                        svg.icon.icon--save.save
                            use(xlink:href='/img/icons.svg#icon-save')
                        svg.icon.icon--cancel.cancel
                            use(xlink:href='/img/icons.svg#icon-x')
        -}
    if table ==='tour'
        div.right
            button.btn.btn--small.btn--green.export#tours Export
            a(href='/newTour')
                button.btn.btn--small.btn--green.export#insert--Tour= `insert new ${table}`
    if table === 'user'
        div.right
            button.btn.btn--small.btn--green.export#users Export
            button.btn.btn--small.btn--green.export#insert--User= `insert new ${table}`